#login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  #login .card {
    width: 50vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    #login .card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    #login .card .card-header {
      text-align: center;
      text-transform: uppercase;
      background-color: #f49cc8;
      text-decoration: underline;
      font-size: 40px; }
    #login .card .card-body .accept {
      width: 100%;
      background-color: #9cf4a7;
      color: #2E1D48;
      text-transform: uppercase;
      border: none; }
      #login .card .card-body .accept:hover {
        opacity: 0.8; }
    #login .card .card-body .register {
      width: 100%;
      background-color: #9cc2f4;
      color: #2E1D48;
      text-transform: uppercase;
      border: none; }
      #login .card .card-body .register:hover {
        opacity: 0.8; }
    #login .card .card-body .cancel {
      width: 100%;
      background-color: #ee6d66;
      color: #2E1D48;
      text-transform: uppercase;
      border: none; }
      #login .card .card-body .cancel:hover {
        opacity: 0.8; }

@media screen and (max-width: 960px) {
  #login {
    height: 100vh;
    width: 100vw; }
    #login .card {
      width: 100vw;
      height: 100vh; }
      #login .card .card-header {
        text-align: center;
        text-transform: uppercase;
        background-color: #66d7ee;
        text-decoration: underline;
        font-weight: bold;
        font-size: 40px; } }

#navbar-admin {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #navbar-admin:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  #navbar-admin .navbar {
    background-color: rgba(255, 255, 255, 0.2) !important; }
  #navbar-admin .navbar-brand {
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 32px; }
  #navbar-admin .navbar-collapse {
    margin-right: 15%; }
  #navbar-admin .navbar-nav .nav-item {
    cursor: pointer;
    transition: all 0.5s; }
    #navbar-admin .navbar-nav .nav-item:hover {
      background-color: rgba(46, 29, 72, 0.2);
      border-radius: 5px; }
    #navbar-admin .navbar-nav .nav-item .nav-text {
      display: flex;
      flex-direction: row;
      font-size: 24px; }
      #navbar-admin .navbar-nav .nav-item .nav-text .nav-icon {
        margin-right: 5px; }
    #navbar-admin .navbar-nav .nav-item .dropdown {
      font-size: 24px; }
      #navbar-admin .navbar-nav .nav-item .dropdown .dropdown-toggle {
        display: flex;
        flex-direction: row; }
        #navbar-admin .navbar-nav .nav-item .dropdown .dropdown-toggle::after {
          margin-top: 15px; }
      #navbar-admin .navbar-nav .nav-item .dropdown .text-menu {
        margin-left: 5px; }
    #navbar-admin .navbar-nav .nav-item .dropdown-menu {
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.2) !important; }
      #navbar-admin .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        display: flex; }
      #navbar-admin .navbar-nav .nav-item .dropdown-menu button {
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s; }
        #navbar-admin .navbar-nav .nav-item .dropdown-menu button:hover {
          background-color: rgba(46, 29, 72, 0.2);
          border-radius: 5px; }

@media screen and (max-width: 960px) {
  #navbar-admin .navbar-brand {
    margin-left: 0%; }
  #navbar-admin .navbar-collapse {
    margin-right: 0%; } }

html {
  height: 100vh; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #d1f3fa;
  color: #2E1D48; }
