@import "./variables/color";
@import "./pages/login";
@import "./component/navbar-admin";

html {
  height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: $color-primary-background;
    color: $color-font-black;
  }
  