$color-font-black: #2E1D48;

$color-primary : #30c9e8;
$color-primary-light: #66d7ee;
$color-primary-dark: #3080e8;
$color-primary-background: #f2e2d9;


$btn-success: #9cf4a7;
$btn-cancel: #ee6d66;
$btn-register: #9cc2f4;
